#sub h1{
	-webkit-transition: color .5s;
	transition: color .5s;
}

h2{
	font-size: 2em;
}

.name-hdr, .subhdr{
	font-family: "Quicksand";
}

.headshot{
	height: 18em;
	width: auto;
	border-radius: 100%;
}

.subteam-table{
	width: 75vw;
	text-align: center;
}

.subteam-table tr{
	overflow: hidden;
}

.subteam-table td{
	padding: 15px;
	overflow: hidden;
}

.bio-container{
	width: 100%;
	text-align: left;
}

.name-hdr{
	font-size: 1.5em;
	font-weight: bold;
}

.subhdr{
	font-size: 1.25em;
}
