#header {
	background-image: url("../images/team-header.jpg");
	background-position: center center;
}

#sub {
	top: 70%;
}

#teamshdr {
	width: 100%;
	font-family: "Quicksand";
}

#teamshdr a, #teamshdr a:visited {
	font-size: 1.25em;
	font-weight: bold;
	color: rgb(0, 25, 65);
}

#teamshdr a:hover {
	color: rgb(133, 180, 255);
}

.headshot {
	max-height: 250px;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	border-radius: 100%;
}

.headshot:hover {
	opacity: 0.5;
}

.teamroster {
	display: none;
}

.teamroster table{
	color: rgb(0, 25, 65);
}

.sublink:hover, .imglink:hover {
	cursor: pointer;
}

#filter-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 25, 65, 0.75);
	position: fixed;
	top: 0px;
	left: 0px;
}

.bio {
	display: none;
	background-color: rgba(0, 25, 65, 1);
	color: rgb(255, 255, 255);
	position: fixed;
  margin: 0;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	height: 350px;
	width: 500px;
	z-index: 99;
	padding-left: 15px;
	padding-right: 15px;
	overflow: auto;
}

.bio h1 {
	font-family: "Quicksand";
	color: rgb(255, 210, 0);
}

.close-bio {
	position: absolute;
	right: 10px;
	top: 0px;
	-webkit-transition: color 0.5s;
	transition: color 0.5;
	font-size: 2em;
}

.close-bio:hover {
	color: rgb(255, 210, 0);
	cursor: pointer;
}
